// Basic Colors

$color-blue: #167ac6;		// Azul
$color-darkblue: #354c9e;	// Azul Oscuro
$color-green: #30bec2;		// Verde

$navy: $color-blue;   //#1ab394;       // Primary color
$dark-gray: #c2c2c2;  // Default color

$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warning color
$red: #ED5565;        // Danger color

//Colors Apps and Brands
$color-android: #A4C639;	// Verde Android
$color-facebook: #3b5996;	// Azul Facebook
$color-twitter: #00acee;	// Azul Twitter
$color-instagram: #4c68d7;	// Azul Instagram
$color-youtube: #e52d27;	// Rojo Youtube

// Various colors
$text-color: #000000;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badge
$label-badge-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spinner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-background: image-url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profile-pattern: image-url("patterns/header-profile.png");
$nav-text-color: #a7b1c2;