<section id="empresa" class="white-section">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2>Mision</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis scelerisque eros sed rutrum. Phasellus id felis lobortis, pulvinar dui eu, ullamcorper magna. Cras quis euismod lorem, vel efficitur ante. Maecenas aliquam risus vitae urna mattis scelerisque.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2>Vision</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis scelerisque eros sed rutrum. Phasellus id felis lobortis, pulvinar dui eu, ullamcorper magna. Cras quis euismod lorem, vel efficitur ante. Maecenas aliquam risus vitae urna mattis scelerisque.</p>
            </div>

        </div>

        <div class="row">
            

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2>Objetivo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis scelerisque eros sed rutrum. Phasellus id felis lobortis, pulvinar dui eu, ullamcorper magna. Cras quis euismod lorem, vel efficitur ante. Maecenas aliquam risus vitae urna mattis scelerisque.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>

        </div>

    </div>

</section>