<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
             <h2>
                       ___________
              </h2>
                <div class="ibox-content">
                    <h2>
                        Unidad Quirurgica La trinidad no labora el 23-02-2017
                    </h2>
                    </a>
                    <p>
                        English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                        </div>
   
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                   
                    <h2>
                        Trabajamos con seguros altamira
                    </h2>
                    </a>

                    <p>
                        The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of.
                    </p>
                    <p>
                        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">New</button>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                        </div>
                      
                    </div>
                </div>
            </div>
         
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                  <h2>
                       ___________
              </h2>
                <div class="ibox-content">
                    
                    <h2>
                        ¡Porque Ud. nos importa!
                    </h2>
                    </a>

                    <p>
                        Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just zebra, and my wolves quack! Blowzy red vixens fight for a quick.
                    </p>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Modern</button>
                            <button class="btn btn-white btn-xs" type="button">Premium</button>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                   
                    <h2>
                        Jornadas de vacunacion el próximo 14-03-2017
                    </h2>
                    </a>

                    <p>
                        Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized
                    </p>
                    <p>
                        It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Modern</button>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                        </div>
           
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                  <h2>
                       ___________
              </h2>
                <div class="ibox-content">
                   
                    <h2>
                        La semana mayor trabajaremos corrido
                    </h2>
                    </a>

                    <p>
                        The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                        </div>
      
                    </div>
                </div>
            </div>
            <div class="ibox">

                <div class="ibox-content">
                  
                    <h2>
                        El Dr Marco en realidad no es Dr, es Ing.
                    </h2>
                    </a>

                    <p>
                        English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                    </p>
                    <p>
                        The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Premium</button>
                        </div>
 
                    </div>
                </div>
            </div>
         
        </div>
    </div>


</div>