<div class="content-cita-background" style="background: transparent url('<%= image_path('carousel/alice-fondo-consulta-medica.jpg') %>')  50% 0 no-repeat; background-size: cover;">
    <div class="container">
        <div class="content-title">
            <h2 class="title-section">Solicitar Cita</h2>
        </div>
    </div>  
</div>
<section id="solicitud" class="white-section unique-section">
    <div class="container">
        <h1 class="title-section">Solicitar Cita</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div id="wizard">
                            <h1>Reserva tu Cita</h1>
                            <div class="step-content">
                                <div class="text">
                                    <div class="col-lg-4">
                                        <div class="contact-box">
                                            <div class="col-sm-4">
                                                <div class="text-center">
                                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="eutanasia.jpg">
                                                    <img src="eutanasia.jpg" width="20" height="20">
                                                    <div class="m-t-xs font-bold">Cardiologo</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <h3><strong>Elias José Pastran Morelio</strong></h3>
                                                <address>
                                                    <strong>Horario de Atención</strong><br>
                                                    Lunes: 8:00 - 12:00pm<br>
                                                    Viernes: 9:00 - 11:00pm<br>
                                                    Teléfono: (0251) 456-7890<br>
                                                </address>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <table class="tabla-horarios table table-bordered table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:18%;" class="text-center">Lunes</th>
                                                            <th style="width:18%;" class="text-center">Martes</th>
                                                            <th style="width:18%;" class="text-center">Miércoles</th>
                                                            <th style="width:18%;" class="text-center">Jueves</th>
                                                            <th style="width:18%;" class="text-center">Viernes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                            <td class= "text-center">00:00 - 00:00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>Datos Basicos Solicitante</h1>
                            <div class="step-content">
                                <div class="text">
                                    <div class="col-lg-6">
                                        <h3>¿Has usado el sistema de citas Online?</h3>
                                        <div class="radio">
                                            <input type="radio" name="radiousuarionuevo" id="radio1" value="Usuarioviejo" onclick="mostrar(this.value)" checked="true">
                                            <h2 for="radio1">Si</h2>
                                            <input type="radio" name="radiousuarionuevo" id="radio2" value="Usuarionuevo" onclick="mostrar(this.value)">
                                            <h2 for="radio1">No</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" id="Usuarioviejo" style="display: block">
                                        <div class="form-group">
                                            <label id="emailusuario1" for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control" hidden="false" id="InputEmail" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label>Contraseña</label> 
                                            <input type="password" placeholder="" class="form-control">
                                        </div>                         
                                    </div>
                                </div>
                                <div class="col-lg-6" id="Usuarionuevo" style="display: none">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre y Apellido</label>
                                        <input type="email" class="form-control" id="InputNombre" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cedula</label>
                                        <input type="email" class="form-control" id="InputCedula" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" id="InputEmail" placeholder="">
                                    </div>
                                    <div class="form-group" id="data_1">
                                        <label for="exampleInputEmail1">Fecha de nacimiento</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="f fa-calendar"></i></span><input type="text" class="form-control" value="03/03/2017">
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                            <h1>Datos Basicos Paciente</h1>
                            <div class="step-content">
                                <div class="text">
                                    <div class="col-lg-4">
                                        <h3>¿Quien es el Paciente?</h3>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1">Yo</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2">Otra Persona</label>
                                        </div>
                                        <h3>¿Como llegaste a nosotros?</h3>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio1" value="option1" checked="">
                                            <label for="radio1">Redes Sociales</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio2" value="option2">
                                            <label for="radio2">Familiar / Amigo</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio3" value="option2">
                                            <label for="radio2">Doctor</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio4" value="option2">
                                            <label for="radio2">Otros</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputNombre">Nombre y Apellido</label>
                                            <input type="email" class="form-control" id="InputNombre" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputcedula">Cedula</label>
                                            <input type="email" class="form-control" id="InputCedula" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Email</label>
                                            <input type="email" class="form-control" id="InputEmail" placeholder="">
                                        </div>
                                        <div class="form-group" id="data_1">
                                            <label for="exampleInputEmail1">Fecha de nacimiento</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="f fa-calendar"></i></span><input type="text" class="form-control" value="03/03/2017">
                                            </div>
                                        </div>                                
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="InputSexo">Sexo</label>
                                                <select class="selectpicker form-control">
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select>    
                                        </div>
                                        <div class="form-group">
                                            <label for="InputTelefono">Telefono</label>
                                            <input type="text" id="InputTelefono" class="form-control" data-mask="(999) 999-9999" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputDireccion">Direccion</label>
                                            <input type="text" class="form-control" id="InputDireccion" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>Confirmación</h1>
                            <div class="step-content">
                                <div class="text">
                                    <h2>Comprobante N°03475631</h2>
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="4">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre y Apellido del Paciente</th>
                                                            <th>Cedula</th>
                                                            <th>Fecha de Solicitud</th>
                                                            <th>Fecha de la Cita</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Daniel Rojas</td>
                                                            <td>V-19.436.882</td>
                                                            <td>03/03/2017</td>
                                                            <td>16/03/2017</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="4">
                                                                <ul class="pagination pull-right"></ul>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="4">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre y Apellido del Especialista</th>
                                                            <th>Especialidad</th>
                                                            <th>Razon de Cita</th>
                                                            <th>Hora</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Elias Jose Pastran Morelio</td>
                                                            <td>Cardiologo</td>
                                                            <td>Chequeo</td>
                                                            <td>9:00am</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="4">
                                                                <ul class="pagination pull-right"></ul>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="1">
                                                    <thead>
                                                        <tr>
                                                            <th>Direccion de la Clinica</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Carrera 28, entre calles 9 y 10, N° 9-124, Concepción, Barquisimeto</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="1">
                                                                <ul class="pagination pull-right"></ul>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="text-center">
                                                    <h2>¡El comprobante ha sido enviado exitosamente a su correo!</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }

            // Forbid suppressing "Warning" step if the user is to young
            if (newIndex === 3) {
                return false;
            }

            var form = $(this);

            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";

            // Start validation; Prevent going forward if false
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Suppress (skip) "Warning" step if the user is old enough.
            if (currentIndex === 2) {
                $(this).steps("next");
            }

            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";

            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            // Submit form input
            form.submit();
        }
    }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

});

var capas = ["Usuarioviejo", "Usuarionuevo"];
function mostrar(capa) {
for (i = 0, total = capas.length; i < total; i ++)
document.getElementById(capas[i]).style.display = (capas[i] == capa) ? "block":"none";
}

$('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

</script>

<% end %>
