<h2> </h2>
<h2> a</h2>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div id="wizard">
                    <h1>Reserva tu Cita</h1>
                    <div class="step-content">
                        <div class="text">
                        <div class="col-lg-4">
                            <div class="contact-box">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a4.jpg') %>">
                                    <div class="m-t-xs font-bold">Cardiologo</div>
                             </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>John Smith</strong></h3>
                                <address>
                                    <strong>Horario de Atencion</strong><br>
                                    Lunes: 8:00 - 12:00pm<br>
                                    Viernes: 9:00 - 11:00pm<br>
                                    Telefono: (0251) 456-7890<br>
                                </address>
                            </div>
                            <div class="clearfix"></div>
                            </div>
                        </div>
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
                    <thead>
                    <h2>Mañana</h2>
                    <tr>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>8:00am<input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>9:00am<input type="checkbox" value=""></td>
                    </tr>
                    <tr>
                        <td>8:30am<input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>9:30am<input type="checkbox" value=""></td>
                    </tr>
                    <tr>
                        <td>9:00am<input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>10:00am<input type="checkbox" value=""></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
                    <thead>
                    <h2>Tarde</h2>
                    <tr>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2:00pm<input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>2:00pm<input type="checkbox" value=""></td>
                    </tr>
                    <tr>
                        <td>2:30pm<input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>2:30pm<input type="checkbox" value=""></td>
                    </tr>
                    <tr>
                        <td>3:00pm<input type="checkbox" value=""></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>3:00pm<input type="checkbox" value=""></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
                        </div>
                    </div>

                    <h1>Datos Basicos</h1>
                    <div class="step-content">
                        <div class="text">
                            <div class="">
                            <div class="col-lg-4">
                                <h3>¿Has usado el sistema de citas online?</h3>
                                    <div class="radio">
                                        <input type="radio" name="radio21" id="radio1" value="option1" checked="">
                                        <label for="radio1">
                                            Soy Nuevo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="radio21" id="radio2" value="option2">
                                        <label for="radio2">
                                            He utilizado el sistema de citas online anteriormente
                                        </label>
                                    </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-lg-4">

                                <h3>¡Bienvenido de Vuelta!</h3>
                                    <p>
                                        Por favor ingresa tus datos para formalizar tu cita
                                    </p>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correo</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Contraseña</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                <h3>¿Quien es el Paciente?</h3>
                                    <div class="radio">
                                        <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                        <label for="radio1">
                                            Yo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="radio1" id="radio2" value="option2">
                                        <label for="radio2">
                                            Otra Persona
                                        </label>
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <h1>Confirmar</h1>
                    <div class="step-content">
                        <div class="text">
                <h2>Comprobante N°03475631</h2>
                            <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="4">
                    <thead>
                    <tr>
                        <th>Nombre y Apellido del Paciente</th>
                        <th>Cedula</th>
                        <th>Fecha de Solicitud</th>
                        <th>Fecha de la Cita</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ana Victorio Mendoza Rivas</td>
                        <td>V-19.727.013</td>
                        <td>07/02/2017</td>
                        <td>16/02/2017</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="3">
                    <thead>
                    <tr>
                        <th>Nombre y Apellido del Especialista</th>
                        <th>Especialidad</th>
                        <th>Razon de Cita</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Elias Jose Pastran Morelio</td>
                        <td>Ginecologia</td>
                        <td>Chequeo</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="1">
                    <thead>
                    <tr>
                        <th>Direccion de la Clinica</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Carrera 28, entre calles 9 y 10, N° 9-124, Concepción, Barquisimeto</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <div class="text-center">
                <h2>¡El comprobante ha sido enviado exitosamente a su correo!</h2>
                </div>
            </div>
        </div>
    </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }

            // Forbid suppressing "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age").val()) < 18) {
                return false;
            }

            var form = $(this);

            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";

            // Start validation; Prevent going forward if false
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Suppress (skip) "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                $(this).steps("next");
            }

            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";

            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            // Submit form input
            form.submit();
        }
    }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

});


</script>

<% end %>
