// Place all the styles related to the CategoriaServicios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css

@import "base/variables";
@import "base/skins";

.landing-page{

    .col-sidebar{
        padding-right: 0px;
        width: 20%;
    }
    .col-content{
        padding-left: 0px;
        width: 80%;
    }
    .sidebar-filtro{
        position: relative;

        .content-btn-filtro{
            margin-bottom: 20px;
        }

        .content-btn-filtro:last-child{
            margin-top: 20px;
        }
        .content-filtro{
            padding: 0px 0px 0px 20px;
        }
    }
    .title-section{
      margin: 0px 0px 30px;
      font-size: 30px;
      font-weight: 400px;
      color: $color-darkblue;
    }
    .content-servicio-background{
        height: 230px;
        margin: 66px 0px 30px;

        .container{
            height: inherit;
        }
        .content-title{
            position: relative;
            top: 90px;
            height: 120px;
            width: 550px;
            color: $color-darkblue;
            background-color: rgba(255, 255, 255, 0.9);
            margin: 10px 0px 20px;
            padding: 20px 10px;
            border-radius: 20px;

            .title-section{
                margin: 0px 0px 10px;
            }
        }
    }
	#categoria-servicios{
        margin: 0px;
      .text-promo{
        width: 800px;
        margin: 20px 0px;
      }
        @media (min-width: 768px) {
          .container {
            width: 630px;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 850px;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1050px;
          }
        }
		.content-categoria-servicio{
			
			.image-content-categoria-servicio{
				width: 100%;
				height: 120px;
				.img-categoria-servicio{
					width: inherit;
				}
			}
			.title-categoria-servicio{
				height: 60px;
				padding: 19px 0px 19px 10px;
				background-color: $color-darkblue;
				h2{
					margin: 0px 0px;
					color: #FFFFFF;
                    font-size: 18px;
				}
			}
			.content-list-especialidades{
				padding: 15px 10px;
				border: 1px solid $color-darkblue;
				
				.list-especialidades{
					list-style: none;
					padding: 0px 0px;
					margin-bottom: 0px;

					li.ver-mas a{
						text-align: center;
						display: block;
						font-size: 16px;
						margin: 15px 0px 0px;
					}
				}
			}
		}
	}
    
    #servicio{
        margin: 0px 0px;

        .modal-header .close{
            border-radius: 50%;
            background-color: $red;
            width: 22px;
            height: 22px;
            color: #FFFFFF;
            opacity: 1;
        }
        table.tabla-horarios.table-bordered > thead > tr > th{
            background-color: $color-darkblue;
            color: #FFFFFF;
        }
        .text-promo{
            width: 800px;
            margin: 20px 0px;
        }
        @media (min-width: 768px) {
          .container {
            width: 630px;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 850px;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1050px;
          }
        }
    }
}