// Place all the styles related to the Citas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*	STEPS WIZARD	*/
//= require steps/jquery.steps.css

//= require datapicker/datepicker3.css

@import "base/variables";
@import "base/skins";

.datepicker.dateweek table tr.week:hover{
  background: #eee;
}
.datepicker.dateweek table tr.week-active,
.datepicker.dateweek table tr.week-active td,
.datepicker.dateweek table tr.week-active td:hover,
.datepicker.dateweek table tr.week-active.week td,
.datepicker.dateweek table tr.week-active.week td:hover,
.datepicker.dateweek table tr.week-active.week,
.datepicker.dateweek table tr.week-active:hover,
.datepicker.dateweek table tr td.active.active{
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wizard > .content > .body{
  width: 100%;
}
.landing-page{

    .white-section{
    
        .title-section{
          margin: 0px;
          font-size: 30px;
          font-weight: 400px;
          color: $color-darkblue;
        }
    }
    
    .ibox-content{
        border-width: 0px 0px;
    }
    .wizard > .content{
      min-height: 450px;
    }
    #solicitud{
    	margin-top: 80px;

      #select-week{
        width: 100px;
        text-align: center;
        
        .input-group.date span i:before{
            margin: 0px -4px;
        }
      }
      #week-star, #week-end, .btn-content{
          margin: 5px 0px;
      }
      #week-star, #week-end{
        input{
          font-size: 18px;
        }
      }
      .btn-buscar-horario{
          padding: 5px 10px;
          margin-bottom: 0px;
      }
      table.tabla-horarios.table-bordered > thead > tr > th{
        background-color: $color-darkblue;
        color: #FFFFFF;
      }
    	.text-promo{
    		width: 800px;
    		margin: 20px 0px;
    	}
        @media (min-width: 768px) {
          .container {
            width: 100%;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 100%;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1150px;
          }
        }
    }
}


/*  CUSTOM SUSCRIPCION  */
  #suscripcion{

    .content-suscripcion{
      border-radius: 20px;
      background-color: rgba(255,255,255,0.7);
      padding: 20px;
      //height: 400px;
      
      .title-content{    
        padding: 0px 0px 20px;
          border-bottom: 4px solid $color-darkblue;
          margin: 10px 30px 20px;
          font-weight: 600;
      }

      .title-content-solo{    
        padding: 0px 20px;
          font-weight: 600;
          margin: 0px 0px 10px;
      }
      .text-content-solo{
        padding: 0px 20px;
        font-size: 16px;
      }
      .row-content{
        margin-top: 20px;
      }
      #form-suscripcion{

        .btn-dark-blue{
          margin-top: 10px;
          width: 100%;
        }
      }
    }

    .content-suscripcion.blue{
      background-color: rgba(14,154,239, 0.7);
      margin: 50px 0px;
      .title-content{    
        padding: 0px 0px 20px;
          border-bottom: 3px solid #FFFFFF;
          margin: 10px 30px 20px;
          font-weight: 600;
          width: 440px;
          margin: 0px auto 20px;
      }
    }
  }

  table.tabla-horarios.table-bordered > thead > tr > th{
            background-color: $color-darkblue;
            color: #FFFFFF;
        }