
/*  SELECT2  */
//= require select2/select2.min.css

/* JQUERY NEWS TICKER */
//= require news-ticker/main.css

/*	SLICK CAROUSEL	*/
//= require slick/slick.css
//= require slick/slick-theme.css

/*	STEPS WIZARD	*/
//= require steps/jquery.steps.css

//= require datapicker/datepicker3.css

@import "base/variables";
@import "base/skins";

.select2-container .select2-selection--single{
	height: 34px;
}
.select2-container--default .select2-selection--single{
	border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 34px;
}

.landing-page{
	font-size: 14px;
  
  .pace .pace-progress{
    background: $skin-1-color;
  }
  .white-section{
    margin-top: 40px;

    .title-section{
      margin: 0px 0px 30px;
      font-size: 30px;
      font-weight: 400px;
      color: $skin-1-color;
    }
  }
  .header-back{
    height: 380px;
  }
  .header-back2{
    height: 480px;
    weight: 480px;
  }

/*	CUSTOM CAROUSEL	*/
	.carousel{
		height: 380px;

		.carousel-control{
			width: 12%;
		}
		.carousel-control, .carousel-control:hover, .carousel-control:focus{
			color: $color-darkblue;
		}
		.carousel-indicators{
			bottom: 0px;
		}
		.carousel-indicators li{
			border: 3px solid $color-darkblue;
			width: 20px;
			height: 20px;
			margin: 0px;
		}
		.carousel-indicators .active{
			background-color: $color-darkblue;
			border: 3px solid $color-darkblue;
			width: 20px;
			height: 20px;
		}
		.carousel-caption{
			height: 200px;
			color: $color-darkblue;
			background-color: rgba(255, 255, 255, 0.9);
			margin: 10px 0px 20px;
			padding: 20px 10px;
			border-radius: 20px;
			top: 160px;
			left: 30px;
			width: 445px;
		}
		.carousel-caption h3{
			font-weight: 700;
			font-size: 28px;
			text-transform: uppercase;
			text-shadow: none;
			letter-spacing: -1.5px;
		}
		.carousel-image{
			right: 50px;
			top: 130px;
		}
		.item{
			height: 380px;
		}

		@media (min-width: 768px){
			
			.carousel-caption p{
				margin-bottom: 0px;
			}
			.carousel-caption p.carousel-subtitle{
				height: 60px;
			}
			.carousel-caption p.carousel-link-content{
				position: relative;
				top: 4px;
			}
		}
	}

/*	CUSTOM NOTICIAS TICKERS	*/
	#noticias-stikers{
		margin: 50px 0px 0px;

		.nt-title-container{
			background-color: $color-darkblue;

			.col-title-noticias{
				padding: 0px;
				text-align: center;
				border: 2px solid $color-darkblue;
				background-color: #FFFFFF;
			}
			.title-noticias{
				font-size: 18px;
				padding: 11px 0px;
				margin: 0px 0px;
				color: $color-darkblue;
				font-weight: 400;
			}
			#tira-noticias{
				margin-bottom: 0px;
				padding-left: 0px;

				li{
					font-size: 18px;
					padding: 10px 0px;
					color: #FFFFFF;
					font-weight: 400;	
				}
				li a{
					color: #FFFFFF;
				}
			}
		}
	}

/*	CUSTOM SERVICIO-CLIENTE	*/
	#servicios-cliente{
		
		.col-servicio{
			margin-bottom: 30px;
		}

		.content-servicio{
			padding:20px;
			height: 320px !important;
			position: relative;
			-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.18);
			-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.18);
			box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.18);

			.text-descarga{
				float: right;
				padding: 30px 30px 0px;
			}
			.content-descarga{
				bottom: 0px;
				position: absolute;
				width: 60%;
				right: 0px;
				padding: 0px 20px 80px;
			}

			.text-servicio{
				
				h2{
					height: 50px; 
					padding: 12px 0px;

					i{
						float: right; 
						position: relative; 
						bottom: 12px;
						font-size: 60px;
					}
				}
				p{
					margin-top: 20px;
				}
			}
			#form-consulta{
				bottom: 0px;
				position: absolute;
				width: 100%;
				left: 0px;
				padding: 0px 20px 60px;
			}
			.btn-info{
				margin-top: 10px;
				width: 100%;
			}
		}

		.content-servicio.blue{
			background-color: $skin-1-color;
			padding:20px;
			height: 320px !important;
			position: relative;
			
		}
	}

/*	CUSTOM SERVICIO-SOLICITAR	*/
	#servicios-solicitar{
		
		.content-servicio{
			border-radius: 20px;
			background-color: #167ac6;
			padding:20px;
			height: 400px;
			
			#form-consulta, #form-suscripcion, #form-servicio{

				.btn-info{
					margin-top: 10px;
					width: 100%;
				}
			}
			.content-app{
				margin-top: 40px;

				.logo-android{
					width: 55px;
					height: 55px;

					i{
						position: relative;
						left: 7px;
						color: $color-android;
					}
				}
				.btn-info{
					margin-top: 10px;
					width: 100%;
				}
			}
		}
	}

/*	CUSTOM OFERTA-EVENTOS	*/
	#oferta-eventos{

		.slick-eventos{

			.slick-prev{
				left: -30px;
			}
			.slick-next{
				right: -30px;
			}
			.slick-prev:before, .slick-next:before{
				font-size: 30px;
				color: $skin-1-color !important;
			}
			.slick-slide{

				.ibox-content{
					border-top: 0px;
					min-height: 250px;
					padding: 15px 10px 20px;
					margin: 0px 10px;
					border-right: 1px solid $skin-1-color;

					.content-image-slick{
						text-align: center;

						.image-slick{
							max-height: 150px;
							margin: 0px auto;
							display: table-cell;
						}
					}
					h3{
						top: 0px;
						font-size: 24px;
						font-weight: 100;
					}
				}
			}
		}
	}

/*	CUSTOM PREGUNTAS y RESPUESTAS	*/
    #preguntas_respuestas{
    	margin-top: 67px;

	    .ibox-content{
	        border-width: 0px 0px;

	        .btn-link{
	        	width: 100%;

	        	img{
	        		width: 100%;
	        		height: 250px;
	        	}
	        }
	        .content-title-pregunta{
	        	background-color: rgba(255,255,255,0.7);
	        	top: 50px;
				position: relative;
	        }
	    }
	    .faq-item{
	    	padding: 10px 20px;
	    	.faq-question{
	    		color: $color-blue;
	    	}
	    	.tag-list{
	    		margin-top: 10px;
	    	}
	        .btn-pregunta{
				background-color: $color-darkblue;
				border-radius: 50%;
				height: 65px;
				width: 65px;
				color: #FFFFFF;	
				i{
					position: relative;
					right: 2px;
					bottom: 4px;
				}
	        }
	        }
    	.text-promo{
    		width: 800px;
    		margin: 20px 0px;
    	}
        @media (min-width: 768px) {
          .container {
            width: 720px;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 950px;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1100px;
          }
        }
    }

/*	CUSTOM CONTACTO	*/
	#contacto{
		height: 550px;

		.content-contacto{
			border-radius: 20px;
			background-color: rgba(255,255,255,0.7);
			padding: 20px;
			//height: 400px;
			
			.title-content{    
				padding: 0px 0px 20px;
    			border-bottom: 4px solid $color-darkblue;
    			margin: 10px 30px 20px;
    			font-weight: 600;
			}

			.title-content-solo{    
				padding: 0px 20px;
    			font-weight: 600;
    			margin: 0px 0px 10px;
			}
			.text-content-solo{
				padding: 0px 20px;
				font-size: 16px;
			}
			.row-content{
				margin-top: 20px;
			}
			#form-contacto{

				.btn-dark-blue{
					margin-top: 10px;
					width: 100%;
				}
			}

		    .col-redsocial{
		      margin-bottom: 30px;

		      .btn-circle{
		        width: 40px;
		        height: 40px;
		        border-radius: 25px;
		        padding: 7px 0px;
		      }
		      a.facebook {
		        background-color: $color-facebook;
		      }
		      a.twitter {
		        background-color: $color-twitter;
		      }
		      a.instagram {
		        background-color: $color-instagram;
		      }
		      a.youtube {
		        background-color: $color-youtube;
		      }
		    }
		}

		.content-contacto.blue{
			background-color: rgba(14,154,239, 0.7);

			.title-content{    
				padding: 0px 0px 20px;
    			border-bottom: 3px solid #FFFFFF;
    			margin: 10px 30px 20px;
    			font-weight: 600;
			}
		}
	}

/*	CUSTOM SUSCRIPCION	*/
	#suscripcion{

		.content-suscripcion{
			border-radius: 20px;
			background-color: rgba(255,255,255,0.7);
			padding: 20px;
			//height: 400px;
			
			.title-content{    
				padding: 0px 0px 20px;
    			border-bottom: 4px solid $color-darkblue;
    			margin: 10px 30px 20px;
    			font-weight: 600;
			}

			.title-content-solo{    
				padding: 0px 20px;
    			font-weight: 600;
    			margin: 0px 0px 10px;
			}
			.text-content-solo{
				padding: 0px 20px;
				font-size: 16px;
			}
			.row-content{
				margin-top: 20px;
			}
			#form-suscripcion{

				.btn-dark-blue{
					margin-top: 10px;
					width: 100%;
				}
			}
		}

		.content-suscripcion.blue{
			background-color: rgba(14,154,239, 0.7);
			margin: 50px 0px;
			.title-content{    
				padding: 0px 0px 20px;
    			border-bottom: 3px solid #FFFFFF;
    			margin: 10px 30px 20px;
    			font-weight: 600;
    			width: 440px;
    			margin: 0px auto 20px;
			}
		}
	}
/*	CUSTOM MAPS	*/
	#maps{
		margin: 0px 0px;

		.google-map{
			height: 400px;
		}
	}
}

