// Place all the styles related to the Servicios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  STEPS WIZARD    */
//= require steps/jquery.steps.css

//= require datapicker/datepicker3.css

//= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
//= require jasny/jasny-bootstrap.min.css

@import "base/variables";
@import "base/skins";
.radio-info input[type="radio"]:checked + label::after,
.radio-info input[type="radio"] + label::after{
    background-color: $color-blue;
}
.radio-info input[type="radio"]:checked + label::before{
    border-color: $color-blue;
}

.datepicker.dateweek table tr.week:hover{
  background: #eee;
}
.datepicker.dateweek table tr.week-active,
.datepicker.dateweek table tr.week-active td,
.datepicker.dateweek table tr.week-active td:hover,
.datepicker.dateweek table tr.week-active.week td,
.datepicker.dateweek table tr.week-active.week td:hover,
.datepicker.dateweek table tr.week-active.week,
.datepicker.dateweek table tr.week-active:hover,
.datepicker.dateweek table tr td.active.active{
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wizard > .content > .body{
  width: 100%;
}
.landing-page{

    .white-section{
    
        .title-section{
          margin: 0px;
          font-size: 30px;
          font-weight: 400px;
          color: $color-darkblue;
        }
    }
    .ibox-content{
        border-width: 0px 0px;
    }
    .wizard > .content{
      min-height: 450px;
    }
    .col-sidebar{
        padding-right: 0px;
        width: 20%;
    }
    .col-content{
        padding-left: 0px;
        width: 80%;
    }
    .sidebar-filtro{
        position: relative;

        .content-btn-filtro{
            margin-bottom: 20px;
        }

        .content-btn-filtro:last-child{
            margin-top: 20px;
        }
        .content-filtro{
            padding: 0px 0px 0px 20px;
        }
    }
    .title-section{
      margin: 0px 0px 30px;
      font-size: 30px;
      font-weight: 400px;
      color: $color-darkblue;
    }
    .content-servicio-background{
        height: 230px;
        margin: 66px 0px 30px;

        .container{
            height: inherit;
        }
        .content-title{
            position: relative;
            top: 90px;
            height: 120px;
            width: 550px;
            color: $color-darkblue;
            background-color: rgba(255, 255, 255, 0.9);
            margin: 10px 0px 20px;
            padding: 20px 10px;
            border-radius: 20px;

            .title-section{
                margin: 0px 0px 10px;
            }
        }
    }
    #servicio{
    	margin: 0px 0px;

        .modal-header .close{
            border-radius: 50%;
            background-color: $red;
            width: 22px;
            height: 22px;
            color: #FFFFFF;
            opacity: 1;
        }
        table.tabla-horarios.table-bordered > thead > tr > th{
            background-color: $color-darkblue;
            color: #FFFFFF;
        }
    	.text-promo{
    		width: 800px;
    		margin: 20px 0px;
    	}
        @media (min-width: 768px) {
          .container {
            width: 630px;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 850px;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1050px;
          }
        }
    }
    #solicitud{
        margin-top: 80px;

      #select-week{
        width: 100px;
        text-align: center;
        
        .input-group.date span i:before{
            margin: 0px -4px;
        }
      }
      #week-star, #week-end, .btn-content{
          margin: 5px 0px;
      }
      #week-star, #week-end{
        input{
          font-size: 18px;
        }
      }
      .btn-buscar-horario{
          padding: 5px 10px;
          margin-bottom: 0px;
      }
      table.tabla-horarios > thead > tr:nth-child(1) > th{
            background-color: $color-darkblue;
            color: #FFFFFF;
      }
      table.tabla-horarios > thead > tr:nth-child(2) > th{
            background-color: $color-blue;
            color: #FFFFFF;
      }
        .text-promo{
            width: 800px;
            margin: 20px 0px;
        }
        @media (min-width: 768px) {
          .container {
            width: 100%;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 100%;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1250px;
          }
        }
    }
}