<section id="solicitud" class="white-section unique-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div id="wizard">
                            <h1>Reserva tu Cita</h1>
                            <div class="step-content">
                                <div class="row" style="margin-top: -10px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="contact-box" style="padding: 10px 20px; margin: 0px 0px 10px;">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-3 col-sm-12">
                                                    
                                                    <div class="for-group" id="select-week" style="width: 100%;">
                                                        <h2 class="col-sm-10" style="font-size: 18px; margin: 10px 0px;">Seleccione su horario: </h2>                
                                                        <div class="input-group date" style="cursor: pointer; width: 30px;">
                                                            <span class="input-group-addon" style="border: 0px;">
                                                                <i class="fa fa-calendar fa-2x"></i>
                                                            </span>
                                                            <input name="week" type="text" style="display: none;" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-9 col-sm-12">
                                                    <div class="row">
                                                        
                                                        <div class=" col-sm-12 for-group">
                                                            <div class="row">
                                                                <div class="col-sm-4" id="week-star">
                                                                    <input type="text" class="form-control text-center" disabled>
                                                                </div>
                                                                <div class="col-sm-4" id="week-end">
                                                                    <input type="text" class="form-control text-center" disabled>
                                                                </div>
                                                                <div class="btn-content col-sm-4 text-center">
                                                                    <%= link_to "Buscar Horario", "#", remote: true, class: "btn btn-dark-blue btn-buscar-horario" %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div class="contact-box">
                                            <div class="col-sm-12">
                                                <div class="text-center">
                                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_url 'landing/default_profile.png' %>" width= "100px" style="margin: 0px auto;">
                                                    <div class="m-t-xs font-bold">Ver Especialidades</div>
                                                    <select class="selectpicker form-control">
                                                        <option></option>
                                                        <option>00:00</option>
                                                        <option>00:00</option>
                                                    </select> 
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <h3><strong>Elias Jose Pastran Morelio</strong></h3>
                                                
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-8">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <table class="tabla-horarios table table-bordered table-hover" width="100%">
                                                    <thead>
                                                    	<h3>Mañana</h3>
                                                        <tr>
                                                            <th style="width:14%;" class="text-center">Lunes</th>
                                                            <th style="width:14%;" class="text-center">Martes</th>
                                                            <th style="width:14%;" class="text-center">Miércoles</th>
                                                            <th style="width:14%;" class="text-center">Jueves</th>
                                                            <th style="width:14%;" class="text-center">Viernes</th>
                                                            <th style="width:14%;" class="text-center">Sabado</th>
                                                            <th style="width:14%;" class="text-center">Domingo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class= "text-center">
                                                            	<select class="selectpicker form-control">
                                                                    <option></option>
					                                                <option>00:00</option>
					                                                <option>00:00</option>
					                                            </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                            	<select class="selectpicker form-control">
                                                                    <option></option>
					                                                <option>00:00</option>
					                                                <option>00:00</option>
					                                            </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                            	<select class="selectpicker form-control">
                                                                    <option></option>
					                                                <option>00:00</option>
					                                                <option>00:00</option>
					                                            </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                            	<select class="selectpicker form-control">
                                                                    <option></option>
					                                                <option>00:00</option>
					                                                <option>00:00</option>
					                                            </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                            	<select class="selectpicker form-control">
                                                                    <option></option>
					                                                <option>00:00</option>
					                                                <option>00:00</option>
					                                            </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <table class="tabla-horarios table table-bordered table-hover" width="100%">
                                                    <thead>
                                                    	<h3>Tarde</h3>
                                                        <tr>
                                                            <th style="width:14%;" class="text-center">Lunes</th>
                                                            <th style="width:14%;" class="text-center">Martes</th>
                                                            <th style="width:14%;" class="text-center">Miércoles</th>
                                                            <th style="width:14%;" class="text-center">Jueves</th>
                                                            <th style="width:14%;" class="text-center">Viernes</th>
                                                            <th style="width:14%;" class="text-center">Sabado</th>
                                                            <th style="width:14%;" class="text-center">Domingo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                            <td class= "text-center">
                                                                <select class="selectpicker form-control">
                                                                    <option></option>
                                                                    <option>00:00</option>
                                                                    <option>00:00</option>
                                                                </select>  
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>Datos Básicos Solicitante</h1>
                            <div class="step-content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <h3>¿Has usado el sistema de citas online?</h3>
                                        <div class="form-group radio">
                                            <input type="radio" name="radiousuarionuevo" id="radio1" value="Usuarioviejo" onclick="mostrar(this.value)" checked="true">
                                            <h2 for="radio1">Si</h2>
                                            <input type="radio" name="radiousuarionuevo" id="radio2" value="Usuarionuevo" onclick="mostrar(this.value)">
                                            <h2 for="radio1">No</h2>
                                        </div>

		                                <div class="form-group">
		                                    <label for="RazonCita">Motivo de la Cita:</label>
		                                    <select class="selectpicker form-control">
		                                        <option>Chequeo</option>
		                                        <option>Consulta de Rutina</option>
		                                    </select>    
		                                </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" style="display: block">
                                        
                                        <div id="Usuarioviejo" style="display: block">
                                            <div class="form-group">
                                                <label >Email</label>
                                                <input type="email" class="form-control" hidden="false" id="InputEmail" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>Contraseña</label> 
                                                <input type="password" placeholder="" class="form-control">
                                            </div>                         
                                        </div>

                                        <div id="Usuarionuevo" style="display: none">
                                            
                                            <div class="form-group">
                                                <label>Nombre y Apellido</label>
                                                <input type="email" class="form-control" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>Cédula</label>
                                                <input type="email" class="form-control" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" id="InputEmail" placeholder="">
                                            </div>
                                            <div class="form-group" id="data_2">
                                                <label>Fecha de nacimiento</label>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control">
                                                </div>
                                            </div>                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>Datos Básicos Paciente</h1>
                            <div class="step-content">
                                <div class="text">
                                    <div class="col-lg-4">
                                        <h3>¿Quién es el Paciente?</h3>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1">Yo</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2">Otra Persona</label>
                                        </div>
                                        <h3>¿Como llegaste a nosotros?</h3>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio1" value="option1" checked="">
                                            <label for="radio1">Redes Sociales</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio2" value="option2">
                                            <label for="radio2">Familiar / Amigo</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio3" value="option2">
                                            <label for="radio2">Doctor</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio2" id="radio4" value="option2">
                                            <label for="radio2">Otros</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputNombre">Nombre y Apellido</label>
                                            <input type="email" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputcedula">Cédula</label>
                                            <input type="email" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Email</label>
                                            <input type="email" class="form-control" id="InputEmail" placeholder="">
                                        </div>
                                        <div class="form-group" id="data_3">
                                            <label>Fecha de nacimiento</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/03/2017">
                                            </div>
                                        </div>                                
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="InputSexo">Sexo</label>
                                            <select class="selectpicker form-control">
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select>    
                                        </div>
                                        <div class="form-group">
                                            <label for="InputTelefono">Teléfono</label>
                                            <input type="text" id="InputTelefono" class="form-control" data-mask="(999) 999-9999" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="InputDireccion">Dirección</label>
                                            <input type="text" class="form-control" id="InputDireccion" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1>Confirmación</h1>
                            <div class="step-content">
                                <div class="row">
                                    <h3>Comprobante N°03475631</h3>
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <table class="tabla-horarios table table-bordered table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre y Apellido del Paciente</th>
                                                            <th>Cedula</th>
                                                            <th>Fecha de Solicitud</th>
                                                            <th>Fecha de la Cita</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Daniel Rojas</td>
                                                            <td>V-19.436.882</td>
                                                            <td>03/03/2017</td>
                                                            <td>16/03/2017</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="tabla-horarios table table-bordered table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre y Apellido del Especialista</th>
                                                            <th>Especialidad</th>
                                                            <th>Razon de Cita</th>
                                                            <th>Hora</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Elias Jose Pastran Morelio</td>
                                                            <td>Cardiologo</td>
                                                            <td>Chequeo</td>
                                                            <td>9:00am</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="tabla-horarios table table-bordered table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Dirección de la Clinica</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Carrera 28, entre calles 9 y 10, N° 9-124, Concepción, Barquisimeto</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% content_for :javascript do %>

<script type="text/javascript">


</script>

<% end %>
