<section id="footer" class="white-section">

    <div class="container">
        
        <div class="row separador-footer"></div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2 class="title-footer text-white">
                    <strong>Unidad Quirurgica La Trinidad</strong>
                </h2>
                <p class="text-white">
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis scelerisque eros sed rutrum. Phasellus id felis lobortis, pulvinar dui eu, ullamcorper magna. Cras quis euismod lorem, vel efficitur ante. Maecenas aliquam risus vitae urna mattis scelerisque.-->
                </p>
                <div class="list-menu-footer">
                    <ul class="nav">
                        <li><a href="/home/servicios"><i class="fa fa-circle"></i>Servicios</a></li>
                        <li><a href="/home/eventos"><i class="fa fa-circle"></i>Eventos</a></li>
                        <li><a href="/home/noticias"><i class="fa fa-circle"></i>Noticias</a></li>
                        <li><a href="/home/contacto"><i class="fa fa-circle"></i>Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2 class="title-footer text-white">
                    <strong>Se uno de Nuestros Pacientes</strong>
                </h2>
                <p class="text-white">
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis scelerisque eros sed rutrum. Phasellus id felis lobortis, pulvinar dui eu, ullamcorper magna. Cras quis euismod lorem, vel efficitur ante. Maecenas aliquam risus vitae urna mattis scelerisque.-->
                </p>
                <div class="list-menu-footer">
                    <ul class="nav">
                        <li><a href="#"><i class="fa fa-circle"></i>Solicita una Cita</a></li>
                        <li><a href="#"><i class="fa fa-circle"></i>Consulta tu Cita</a></li>
                        <li><a href="#"><i class="fa fa-circle"></i>Enterate de Todo</a></li>
                        <li><a href="#"><i class="fa fa-circle"></i>Descarga la App</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2 class="title-footer text-white">
                    <strong>Siguenos</strong>
                </h2>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-facebook">Facebook</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-twitter">Twitter</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-facebook" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
                                    </div>
                                </div>
                                <div id="tab-twitter" class="tab-pane">
                                    <div class="panel-body">
                                        <a class="twitter-timeline" data-lang="es" data-width="240" data-height="300" href="https://twitter.com/Twitter">Tweets by Twitter</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<section id="sub-footer" class="gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                Unidad Quirurgica La Trinidad <strong>Copyright</strong> &copy; 2016-2017
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                Desarrollado por: <a href="#"><strong>Anonghost</strong></a>
            </div>
        </div>
    </div>
</section>