<section id="footer" class="white-section">

    <div class="container">
        
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2 class="title-footer text-white">
                    <strong>Alice</strong>
                </h2>
                <p class="text-white">
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis scelerisque eros sed rutrum. Phasellus id felis lobortis, pulvinar dui eu, ullamcorper magna. Cras quis euismod lorem, vel efficitur ante. Maecenas aliquam risus vitae urna mattis scelerisque.-->
                </p>
                <div class="list-menu-footer">
                    <ul class="nav">
                        <li><a href="/categoria_servicios"><i class="fa fa-circle"></i>Servicios</a></li>
                        <li><a href="/eventos"><i class="fa fa-circle"></i>Eventos</a></li>
                        <li><a href="/noticias"><i class="fa fa-circle"></i>Noticias</a></li>
                        <li><a href="/home/contacto"><i class="fa fa-circle"></i>Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h2 class="title-footer text-white">
                    <strong>¿Que puedes hacer en Alice?</strong>
                </h2>
                <p class="text-white">
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis scelerisque eros sed rutrum. Phasellus id felis lobortis, pulvinar dui eu, ullamcorper magna. Cras quis euismod lorem, vel efficitur ante. Maecenas aliquam risus vitae urna mattis scelerisque.-->
                </p>
                <div class="list-menu-footer">
                    <ul class="nav">
                        <li><a href="/categoria_servicios"><i class="fa fa-circle"></i>Solicita una Cita</a></li>
                        <li><a href="/"><i class="fa fa-circle"></i>Consulta tu Cita</a></li>
                        <li><a href="/home/suscripcion"><i class="fa fa-circle"></i>Suscríbete</a></li>
                        <li><a href="/alice.apk" download><i class="fa fa-circle"></i>Descarga la App</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h2 class="title-footer text-white">
                    <strong>Síguenos en:</strong>
                </h2>                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-redsocial col-lg-3 col-md-3 col-sm-3 col-xs-3 text-white text-center">
                                <a class="btn btn-circle facebook" href="https://facebook.com/alicelatrinidad">
                                    <i class="fa fa-facebook fa-2x text-white"></i>
                                </a>
                            </div>
                            <div class="col-redsocial col-lg-3 col-md-3 col-sm-3 col-xs-3 text-white text-center">
                                <a class="btn btn-circle twitter" href="https://twitter.com/latrinidadalice">
                                    <i class="fa fa-twitter fa-2x text-white"></i>
                                </a>
                            </div>
                            <div class="col-redsocial col-lg-3 col-md-3 col-sm-3 col-xs-3 text-white text-center">
                                <a class="btn btn-circle instagram" href="#">
                                    <i class="fa fa-instagram fa-2x text-white"></i>
                                </a>
                            </div>
                            <div class="col-redsocial col-lg-3 col-md-3 col-sm-3 col-xs-3 text-white text-center">
                                <a class="btn btn-circle youtube" href="#">
                                    <i class="fa fa-youtube-play fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2><a class="text-white font-bold" href="/home/preguntas_frecuentes">Preguntas Frecuentes</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sub-footer" class="gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                Alice <strong>Copyright</strong> &copy; 2016-2017
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                Desarrollado por: <a href="#"><strong>Anonghost</strong></a>
            </div>
        </div>
    </div>
</section>