<nav class="navbar-default sidebar-filtro">
    <ul class="nav">
        <li class="">
            <a href="">
                <i class="fa fa-th-large"></i> 
                <span class="nav-label">Dashboards</span> 
                <span class="fa arrow"></span>
            </a>
        </li>
        <li><a href="#"><span class="nav-label">Prueba </span></a></li>
        <li class="">
            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
        </li>
        <li class="">
            <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span></a>
        </li>
        <li><a href="#"><span class="nav-label">Prueba </span></a></li>
        <li><a href="#"><span class="nav-label">Prueba </span></a></li>
    </ul>
</nav>