
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Categorias</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba1">
                    <label> Cardiologia</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba2">
                    <label> Pediatria</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba3">
                    <label> Dermatologia</label>
                </div>
            </li>
        </ul>
    </div>
    
