    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Especialidad</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba1">
                    <label> Pregrado</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba2">
                    <label> Postgrado</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba3">
                    <label> Doctorado</label>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Pacientes a Atender</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Ni単os">
                    <label> Ni単os</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto">
                    <label> Adulto</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto Mayor">
                    <label> Adulto Mayor</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Horario de Atencion</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Ma単ana">
                    <label> Ma単ana</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Tarde</label>
                </div>
            </li>
        </ul>
    </div>