    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Especialidad</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba1">
                    <label> Cardiologia Infantil</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba2">
                    <label> Coronarias</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba3">
                    <label> Cirujano Cardiologo</label>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Pacientes a Atender</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Niños">
                    <label> Niños</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto">
                    <label> Adulto</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto Mayor">
                    <label> Adulto Mayor</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Horario de Atencion</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Mañana">
                    <label> Mañana</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Tarde</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Sexo del Paciente</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Mañana">
                    <label> Hombre</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Mujer</label>
                </div>
            </li>
        </ul>
    </div>

    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Enfermedad Hereditaria</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Mañana">
                    <label> Hipertension</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Diabetes Tipo 1</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Diabetes Tipo 2</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Diabetes Tipo 3</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Afecciones Dermatologicas</label>
                </div>
            </li>
        </ul>
    </div>