<nav class="navbar-default sidebar-filtro">
    <div class="content-btn-filtro text-center">
        <button class="btn-filter btn btn-dark-blue">Buscar Servicios</button>
    </div>

    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Cirugias</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba1">
                    <label> Cirugia 1</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba2">
                    <label> Cirugia 2</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba3">
                    <label> Cirugia 3</label>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Lesiones</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Niños">
                    <label> Lesion 1</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto">
                    <label> Lesion 2</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto Mayor">
                    <label> Lesion 3</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Patologias (Enfermedades)</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Mañana">
                    <label> Patologia 1</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Patologia 2</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Patologia 3</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-btn-filtro text-center">
        <button class="btn-filter btn btn-dark-blue">Buscar Servicios</button>
    </div>
</nav>
