<nav class="navbar-default sidebar-filtro">
    <div class="content-btn-filtro text-center">
        <button class="btn-filter btn btn-dark-blue">Buscar Servicios</button>
    </div>

    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Cirugias Previas</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba1">
                    <label> Apendice</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba2">
                    <label> Becicula</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Estudios" value="Prueba3">
                    <label> Corectiva de Laser</label>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Sufre alguna Lesion</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Niños">
                    <label> Piernas</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto">
                    <label> Torax</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto Mayor">
                    <label> Brazos</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Paciente" value="Adulto Mayor">
                    <label> Cabeza</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-filtro">
        <h3 class="title-filtro text-blue-dark">Patologias (Enfermedades)</h3>
        <ul class="nav">
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Mañana">
                    <label> Gripe comun</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Obecidad</label>
                </div>
            </li>
            <li>
                <div class="checkbox checkbox-primary">
                    <input type="checkbox" name="Turno" value="Tarde">
                    <label> Gastritis</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-btn-filtro text-center">
        <button class="btn-filter btn btn-dark-blue">Buscar Servicios</button>
    </div>
</nav>
